html {
  margin: 20px;
  text-align: center;
  font-size: 16px;
}

a, ul, li {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.wrapper img {
  width: 50%;
  padding: 10px;
  border-radius: 25px;
}
.mainContent {
  flex: 50%;
  text-align: center;
  padding: 20px;
}

.button {
  padding: 15px;
  background-color: blueviolet;
  border-radius: 50px;
  color: white;
}
@media screen and (max-width: 800px) {
  .mainContent {
    flex: 100%;
    max-width: 100%;
  }
  
  .wrapper img {
      min-height: 200px;
      min-width: 50%;
  }
}
